# Compiler files
cache/
out/

# Ignores development broadcast logs
broadcast

# Docs
docs/

# Dotenv file
.env
.env.*

node_modules/

.vscode/

# Local deployment and helper scripts
scripts/configs/*.json
!scripts/configs/*.example.json
deployments/

dist

.vercel
